<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Automaton Nations</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>
<body>
    <div id="demo">
        <div>
            <tick-picker
                v-bind:tick="simulationTick"
                v-on:increment-tick="onIncrementTick"
                v-on:decrement-tick="onDecrementTick">
            </tick-picker>
        </div>
        <input v-model="selectedEmpireEntry" v-on:keyup="onSelectEmpire" type="text" />
        <div>
            <svg width="1100" height="1100">
                <line
                    v-for="connection in systemConnections"
                    v-bind:x1="normalisedPos(connection.x1)"
                    v-bind:y1="normalisedPos(connection.y1)"
                    v-bind:x2="normalisedPos(connection.x2)"
                    v-bind:y2="normalisedPos(connection.y2)"
                    stroke="black"/>
                <circle
                    v-for="starSystem in starSystems"
                    v-bind:cx="normalisedPos(starSystem.x)"
                    v-bind:cy="normalisedPos(starSystem.y)"
                    v-bind:fill="starSystem.empireColor"
                    r="10"/>
            </svg>
        </div>
    </div>
    <script src="main.js"></script>
</body>
</html>